[submodule "emergent"]
	path = lib/emergent
	url = https://github.com/cjhoward/emergent.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/cjhoward/SDL2.git
[submodule "data"]
	path = data
	url = https://gitlab.com/cjhoward/antkeeper-data.git
[submodule "lib/dirent"]
	path = lib/dirent
	url = https://github.com/cjhoward/dirent.git
